<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBCS"
         connectionString= "Data Source=LAPTOP-CMOUV9KC\SQLEXPRESS;Initial Catalog=Trucking;Persist Security Info=True;User ID=Tracking_Trucks;Password=waswas123"/>
  </connectionStrings>
</configuration>